body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  min-height: 100%;
  background-size: cover;
  overflow: none;
  color: #f1f1f1;
}

body:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000;
  opacity: .4;
}

@keyframes slideshow {
  0% { background-image: url('assets/nature.jpg'); }
  25% { background-image: url('assets/naturee.jpg'); }
  50% { background-image: url('assets/craig.jpg'); }
  75% { background-image: url('assets/seb.jpg'); }
  100% { background-image: url('assets/si.jpg'); }
}

body {
  animation: slideshow 30s infinite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
